<p>
    <mat-toolbar>
     <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dashboard</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>

   <button mat-icon-button (click)="logout()" class="example-icon" aria-label="logout">
    <mat-icon>logout</mat-icon>
  </button>
  </mat-toolbar>
</p>

<mat-drawer-container class="teacher-container" hasBackdrop="false">
  <mat-drawer class="side-bar-border" #drawer mode="over" >

    <div class="side-bar justify-content-center">

      <div class="justify-content-center ">
        <img src="./assets/images/logo.svg" alt="logo" class="side-bar-logo"> <span class="side-bar-heading"> Angular</span>
      </div>


      <div class="side-bar-card text-center lh-lg ">
        Add Record 
      </div>

      <div class="side-bar-card text-center lh-lg ">
        
          
            <mat-icon>logout</mat-icon> 
          
          Logout
      </div>



    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>