
.example-spacer {
    flex: 1 1 auto;
}

.side-bar-border{

  background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
  width: 15rem;
  padding-top: 25px;
  padding-bottom: 25px;

  margin-top: 25px;
  margin-bottom: 25px;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;

}

.side-bar{
  background-color: #eee;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  
  position: absolute;
  top: 10px; /* Header Height */
  bottom: 10px;
  right: 10px;
  left: 0rem;
  
  overflow: hidden;

  padding-left: 15px;
  padding-top: 15px;
}

.teacher-container{
  height: 90vh;
  width: 100%;
}

.side-bar-logo{
  width: 3rem;
}

.side-bar-heading{
  padding-left: 5px;
  font-size: x-large;
  font-weight: 600;
}

.side-bar-card{
  padding-left: 5px;
  padding-right: 5px;
  font-size: large;
  font-weight: 400;
  
  // border-radius: 5px;
  margin: 5px
}

// .side-bar-card:hover{
  
//   // background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
//   border: 5px solid ;
//   border-image: linear-gradient(45deg, rgb(236, 158, 248), rgb(131, 83, 241));

// }

.selected {
  color: #eee;
  background:radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%) ;
  border-radius: 10px;
}