$backgroundgradient: linear-gradient(0deg, rgba(212,117,105,1) 0%, rgba(103,58,183,1) 100%);

.page-container{
    height: 100vh;
    width: 100vw;
    color: #eee;
    background: $backgroundgradient;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 60%;
    border-radius: 25px;
    max-width: 100rem;
    height:fit-content;
    max-width: 100%;
    min-width: 25rem;
    background-color:#eee ;
    
}

.form-container{
    width: 100%
}


mat-form-field {
    width: 90%;
    border-radius: 50px;

  }
input{
    border-radius: 50px;
}

button{
    border-radius: 50px;
}

.errors{
    color: red;

}

img{
   
    height: 100%;
}