.page-container{
    height: 100%;
    width: 100%;
    color: #eee;
    background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 60%;
    border-radius: 25px;
    max-width: 100rem;
    height: 50%;
    max-width: 100rem;
    padding: 5rem;
    background-color:#eee ;
    
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.form-container{
    margin-top: 2rem;
    
}

.fields {
    border-radius: 50px;
    width: 50rem;   
}
input{
    border-radius: 50px;
}

button{
    border-radius: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.errors{
    color: red;
}